
@{
    Layout = null;
}
        
        
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Numero</th>
        <th>Tipo</th>
        <th>Id Usuario</th>
    </tr>
    </thead>
    @foreach (var item in @ViewBag.Jugador1 )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Numero</td>
            <td>@item.tipoCarta</td>
            <td>@item.IdUsuario</td>
        </tr>
    }
        
</table>
}


<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Numero</th>
        <th>Tipo</th>
        <th>Id Usuario</th>
    </tr>
    </thead>
    @foreach (var item in @ViewBag.Jugador2 )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Numero</td>
            <td>@item.tipoCarta</td>
            <td>@item.IdUsuario</td>
        </tr>
    }

</table>
}


<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Numero</th>
        <th>Tipo</th>
        <th>Id Usuario</th>
    </tr>
    </thead>
    @foreach (var item in @ViewBag.Jugador3 )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Numero</td>
            <td>@item.tipoCarta</td>
            <td>@item.IdUsuario</td>
        </tr>
    }

</table>
}


<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Numero</th>
        <th>Tipo</th>
        <th>Id Usuario</th>
    </tr>
    </thead>
    @foreach (var item in @ViewBag.Jugador4 )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Numero</td>
            <td>@item.tipoCarta</td>
            <td>@item.IdUsuario</td>
        </tr>
    }

</table>
}


<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Numero</th>
        <th>Tipo</th>
        <th>Id Usuario</th>
    </tr>
    </thead>
    @foreach (var item in @ViewBag.Jugador5 )
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Numero</td>
            <td>@item.tipoCarta</td>
            <td>@item.IdUsuario</td>
        </tr>
    }

</table>